# Python
__pycache__/
*.pyc

# OS
*.swp
*.tmp
.DS_Store

# Logs
*.log

# Memory (optional, depends on your use)


# Ignore all files inside folders
models/*
qdrant/*
python-envs/*
open-webui/*

# BUT keep README files
!models/README.md
!qdrant/README.md
!python-envs/README.md
!open-webui/README.md

#environment files
*.env
!.example.memory-api.env
!.example.code-proxy.env